﻿@{
    ViewData["Title"] = "Home Page";
}
@model Employees.Models.EmployeeViewModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-dark bg-dark justify-content-around">
            <h1 class="navbar-brand">@ViewBag.use</h1>
            <a class="btn btn-outline-danger" href="Home/Logout">Logout</a>
        </nav>
</header>
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Employee Id</th>
                    <th>FirstName</th>
                    <th>Last Name</th>
                    <th>E-mail ID</th>
                </tr>
            </thead>
            @foreach (EmployeeViewModel emp in (EmployeeViewModel[])ViewBag.Emps)
            {
                <tr>
                    <td>@emp.empid</td>
                    <td>@emp.fname</td>
                    <td>@emp.lname</td>
                    <td>@emp.mail</td>
                </tr>
            }
            <tr>
                <td class="table-primary" style="text-align:center;" colspan="2" scope="col"><a data-toggle="modal" data-target=".bootstrapmodal1"><span class="glyphicon glyphicon-edit"></span>create Employee</a></td>
                <div class="modal fade bootstrapmodal1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2>Create Employee:</h2>
                                <button data-dismiss="modal" class="close"><span>&times;</span></button>
                            </div>
                            <form action="Login/createEmployee" method="post">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="empID">Enter Employee ID</label>
                                        <input type="text" name="empID" id="empID" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label for="fname">Firstname</label>
                                        <input type="text" name="fname" class="form-control" id="fname">
                                    </div>
                                    <div class="form-group">
                                        <label for="lname">Lastname</label>
                                        <input type="text" name="lname" class="form-control" id="lname">
                                    </div>
                                    <div class="form-group">
                                        <label for="mail">E-mail</label>
                                        <input type="email" name="mail" class="form-control" id="mail">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <input type="submit" class="btn btn-success" value="submit" name="submit" />
                                    <button class="btn btn-danger" value="Cancel" data-dismiss="modal">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <td class="table-info" style="text-align:center;" colspan="2" scope="col"><a data-toggle="modal" data-target=".bootstrapmodal"><span class="glyphicon glyphicon-edit"></span>Edit Details</a></td>
                <div class="modal fade bootstrapmodal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2>Edit Employee details:</h2>
                                <button data-dismiss="modal" class="close"><span>&times;</span></button>
                            </div>
                            <form action="Login/editDetails" method="post">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="empID">Choose Employee ID</label>
                                        <select class="form-control" name="empid" id="empID">
                                            @foreach (EmployeeViewModel emp in (EmployeeViewModel[])ViewBag.Emps)
                                            {
                                                <option>@emp.empid</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="fname">Firstname</label>
                                        <input type="text" name="fname" class="form-control" id="fname">
                                    </div>
                                    <div class="form-group">
                                        <label for="lname">Lastname</label>
                                        <input type="text" name="lname" class="form-control" id="lname">
                                    </div>
                                    <div class="form-group">
                                        <label for="mail">E-mail</label>
                                        <input type="email" name="mail" class="form-control" id="mail">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <input type="submit" class="btn btn-success" value="submit" name="submit" />
                                    <button class="btn btn-danger" value="Cancel" data-dismiss="modal">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </tr>
            <tr>
                <td><a href="Login/Search" class="btn btn-outline-success">Search Employee</a></td>
            </tr>
        </table>
        <footer>
        </footer>
</body>
</html>
