﻿@{
    ViewData["Title"] = "Search Employee";
}
@model Employees.Models.EmployeeViewModel
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <form class="form-inline" action="SearchEmployee" method="post">
            <input name="name" class="form-control mr-sm-2" type="search" placeholder="Enter firstname or lastname" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>Employee Id</th>
                <th>FirstName</th>
                <th>Last Name</th>
                <th>E-mail ID</th>
            </tr>
        </thead>
        @foreach (EmployeeViewModel emp in (EmployeeViewModel[])ViewBag.Emps)
        {
            <tr>
                <td>@emp.empid</td>
                <td>@emp.fname</td>
                <td>@emp.lname</td>
                <td>@emp.mail</td>
            </tr>
        }
    </table>
</body>
</html>