﻿@{
    ViewData["Title"] = "Login page";
}
@model Employees.Models.LoginModel
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/my.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="parent">
            <form action="Home/Login" method="post">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" placeholder="Enter Username" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" placeholder="Enter Password" class="form-control" />
                </div>
                <input type="submit" name="submit" valuue="Login" class="btn btn-info" />
            </form>
    </div>
    @if (TempData["message"] != null)
    {
            <script type="text/javascript" >
                window.onload = function () {
                    alert('@TempData["message"]');
                };
            </script>
    }
</body>
</html>